i {
  font-size: 2.5em;
}

.snack-bar-title {
  font-size: 1em;
}

.snack-bar-message {
  text-align: left;
  margin-left: 15px;
  width: calc(100% - 100px);
}

h6 {
  margin: 0;
}

.message {
  font-size: 0.85em;
}
