<h2 mat-dialog-title>Reset Password for {{ model.username }}</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>New Password</mat-label>
    <input matInput [(ngModel)]="model.newPassword" type="text" />
  </mat-form-field>

  <div class="d-flex justify-content-between mb-3">
    <button mat-stroked-button color="primary" (click)="regenerate()">
      Generate New
    </button>
    <button mat-stroked-button color="accent" (click)="copy()">
      Copy to Clipboard
    </button>
  </div>

  <mat-error *ngFor="let error of errorMessages">{{ error }}</mat-error>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    Reset Password
  </button>
</mat-dialog-actions>
