<div *ngIf="!useBootstrap">
  <div class="container mat-container padded-top">
    <mat-card class="mat-card">
      <h3 class="mat-title text-center">Login</h3>
      <form (ngSubmit)="onSubmit()" class="form" *ngIf="enableLocalAccounts">
        <mat-form-field class="form-field half-width" appearance="fill">
          <mat-label>Email address</mat-label>
          <input
            matInput
            type="email"
            placeholder="Enter your email"
            [(ngModel)]="model.username"
            name="email"
            required
          />
          <mat-error *ngIf="!model.username">
            Please enter a valid email address.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Enter your password"
            [(ngModel)]="model.password"
            name="password"
            required
          />
          <mat-error *ngIf="!model.password">
            Please enter your password.
          </mat-error>
        </mat-form-field>

        <div class="link-container">
          <a
            mat-button
            color="primary"
            class="text-link"
            routerLink="/account/forgot-password"
            tabIndex="-1"
            >Forgot password?</a
          >
          <a
            *ngIf="allowRegistration"
            mat-button
            color="primary"
            class="text-link"
            routerLink="/account/register"
            tabIndex="-1"
            >Register</a
          >
        </div>

        <button
          mat-raised-button
          color="primary"
          class="submit-button"
          type="submit"
        >
          Login
        </button>
      </form>

      <div class="padded-top" *ngIf="enableGoogle">
        <hr />

        <div class="text-center" style="margin-top: 30px">
          <app-google-login-button></app-google-login-button>
        </div>
      </div>

      <div class="padded-top" *ngIf="enableFacebook">
        <hr />

        <div class="text-center" style="margin-top: 30px">
          <app-facebook-login-button></app-facebook-login-button>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div *ngIf="useBootstrap">
  <div
    class="container d-flex justify-content-center align-items-center padded-top"
  >
    <div class="card shadow-sm p-4" style="max-width: 400px; width: 100%">
      <h3 class="card-title text-center mb-4">Login</h3>
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter your email"
            [(ngModel)]="model.username"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter your password"
            [(ngModel)]="model.password"
            name="password"
            required
          />
        </div>
        <div class="d-flex justify-content-between mb-4">
          <a routerLink="/account/forgot-password" class="text-decoration-none">
            Forgot password?
          </a>

          <a
            routerLink="/account/register"
            *ngIf="allowRegistration"
            class="text-decoration-none"
          >
            Register
          </a>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>
    </div>
  </div>
</div>
