<div *ngIf="!useBootstrap">
  <mat-form-field class="form-field">
    <mat-label>{{ labelText }}</mat-label>
    <input
      matInput
      #emailInput="ngModel"
      name="email"
      type="email"
      name="emailAddress"
      (change)="onEmailAddressChanged($event)"
      required
      autocomplete="off"
      [(ngModel)]="emailAddress"
      [ngModelOptions]="{ updateOn: 'blur' }"
      placeholder="Your email address will be your username."
      [disabled]="disabled"
    />

    <mat-hint *ngIf="checking">
      <i class="fa fa-spin fa-spinner"></i> Checking
    </mat-hint>

    <mat-hint *ngIf="checked && !checking">
      <span class="validation-message" [hidden]="available">
        <i class="fa fa-exclamation-triangle"></i> The username is already
        taken.
      </span>

      <span [hidden]="!available">
        <span class="validation-message valid" [hidden]="!valid">
          <i class="fa fa-check"></i> The username is available.
        </span>

        <span class="validation-message" [hidden]="valid">
          <i class="fa fa-exclamation-triangle"></i> The username must be a
          valid email address.
        </span>
      </span>
    </mat-hint>
  </mat-form-field>
</div>

<!-- 
<div *ngIf="debug">
  <br /><Br /><br />
  <div class="item">
    <label>disabled:</label>
    <span>{{ disabled }}</span>
  </div>
  <div class="item">
    <label>available:</label>
    <span>{{ available }}</span>
  </div>
  <div class="item">
    <label>checked:</label>
    <span>{{ checked }}</span>
  </div>
  <div class="item">
    <label>valid:</label>
    <span>{{ valid }}</span>
  </div>
</div> -->
