<h2>Welcome to SimpleAuth for .NET</h2>

<p>
  The mission of this project is to provide small to medium sized businesses and
  organizations with a free infrastructure to support identity in your
  application powered by a .NET 9 WebApi backend to serve as a viable
  alternative to expensive commercial products and the complicated Microsoft
  ASP.NET Core Identity framework.
</p>

<p>
  You can read more about this project on the
  <a href="https://github.com/lymestack/SimpleAuth4Net" target="_blank">
    Git repo <i class="fa fa-external-link"></i> </a
  >.
</p>
