<form #userForm="ngForm" *ngIf="model">
  <mat-card>
    <mat-card-header class="nice-header">
      <mat-card-title
        >{{ model.id ? "Editing" : "Adding" }} a User</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-card>
            <mat-card-header>
              <mat-card-title>General Information</mat-card-title>
              <mat-card-subtitle *ngIf="model.id">
                <div>
                  <label>Date Entered:</label>
                  <span>{{ model.dateEntered | date : "M/d/yyyy" }}</span>
                </div>
                <div *ngIf="model.lastSeen">
                  <label>Last Seen on</label>
                  <span>{{ model.lastSeen | date : "M/d/yyyy" }}</span>
                </div>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <app-username-email-input
                [emailAddress]="model.username"
                [available]="usernameAvailable"
                [checking]="checkingUsername"
                [checked]="checkedUsername"
                [disabled]="!!model.id"
                [valid]="usernameValid"
                [labelText]="'Username'"
                (emailAddressUpdated)="onEmailAddressChanged($event)"
              ></app-username-email-input>

              <mat-form-field class="full-width">
                <mat-label>First Name</mat-label>
                <input
                  matInput
                  #nameFiled="ngModel"
                  name="firstName"
                  required
                  [(ngModel)]="model.firstName"
                />
              </mat-form-field>
              <mat-form-field class="full-width">
                <mat-label>Last Name</mat-label>
                <input
                  matInput
                  #nameFiled="ngModel"
                  name="lastName"
                  required
                  [(ngModel)]="model.lastName"
                  (change)="onNamePartChanged()"
                />
              </mat-form-field>

              <mat-form-field class="full-width" *ngIf="!model.id">
                <mat-label>New Password</mat-label>
                <input
                  matInput
                  name="newPassword"
                  [(ngModel)]="model.newPassword"
                  [required]="true"
                  type="text"
                  min="12"
                />
                <mat-hint>
                  <a href="javascript:;" (click)="onGenerateNewPassword()"
                    >Generate New</a
                  >
                  //
                  <a href="javascript:;" (click)="onCopyToClipboard()"
                    >Copy To Clipboard</a
                  >
                  (Minimum 12 chars)
                </mat-hint>
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Email Address</mat-label>
                <input
                  matInput
                  #nameFiled="ngModel"
                  name="emailAddress"
                  required
                  type="email"
                  [(ngModel)]="model.emailAddress"
                />
                <!-- Future - Enable if SMTP is enabled via the API Config -->
                <!-- <mat-hint
                  ><a
                    href="javascript:;"
                    (click)="model.emailAddress = model.username"
                    >Same as username</a
                  ></mat-hint
                > -->
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Phone Number</mat-label>
                <input
                  matInput
                  #nameFiled="ngModel"
                  name="phoneNumber"
                  required
                  mask="(000) 000-0000"
                  [(ngModel)]="model.phoneNumber"
                />
                <!-- Future - Enable if SMS is enabled via the API Config -->
                <!-- <mat-hint *ngIf="!model.phoneNumberVerified"
                  ><a href="javascript:alert('Coming soon...');"
                    >Verify phone number</a
                  ></mat-hint
                > -->

                <mat-hint *ngIf="model.phoneNumberVerified">
                  The phone number has been verified.
                  <a
                    href="javascript:alert('Coming soon...');"
                    style="display: none"
                    >Mark as unverified</a
                  ></mat-hint
                >
              </mat-form-field>

              <mat-checkbox [(ngModel)]="model.active" name="active">
                The user is active.
              </mat-checkbox>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-6">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Role Assignment</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="role-list">
                <div class="role-item" *ngFor="let role of roles">
                  <mat-checkbox
                    [checked]="model.roles.includes(role.name)"
                    (change)="onRoleToggle(role.name, $event.checked)"
                  >
                    <div class="role-content">
                      <div class="role-name">{{ role.name }}</div>
                      <div class="role-description">{{ role.description }}</div>
                    </div>
                  </mat-checkbox>
                </div>
              </div>

              <div
                class="warning padded-top text-center"
                *ngIf="rolesChanged && model.id"
              >
                <i class="fa fa-exclamation-triangle"></i> Warning: The user
                will need to logout and log back in for these changes to take
                effect.
              </div>

              <!-- ZOMBIE: May Reimplement -->
              <!-- <div
                class="warning padded-top text-center"
                *ngIf="model.roles.length === 0"
              >
                <i class="fa fa-exclamation-triangle"></i> At least one role
                needs to be selected.
              </div> -->
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="submit"
        mat-raised-button
        (click)="onSave()"
        color="primary"
        [disabled]="
          saving ||
          (model.id === 0 && !usernameAvailable) ||
          !userForm.valid ||
          !rolesSelected()
        "
      >
        <!-- ZOMBIE: May Reimplement: model.roles.length === 0 || -->
        <i class="fa fa-spinner fa-spin padded-right" *ngIf="saving"></i>
        Save
      </button>
      <button mat-raised-button type="button" (click)="onCancel()">
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form>
