<div class="reset-password-container mat-elevation-z8">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Verify Your Account</mat-card-title>
      <mat-card-subtitle>
        {{ introMessage }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div
        class="alert alert-warning padded-top padded-bottom"
        *ngIf="errors.length > 0"
      >
        Please fix the following errors:
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </div>

      <form (ngSubmit)="onSubmit()" class="padded-top">
        <mat-form-field appearance="fill" class="quarter-width">
          <mat-label>Verification Code</mat-label>
          <input
            matInput
            [(ngModel)]="verificationCode"
            name="verificationCode"
            type="text"
            autocomplete="off"
            required
          />
          <mat-error *ngIf="verificationCode === ''">
            Verification code is required.
          </mat-error>
        </mat-form-field>

        <div class="action-buttons">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!canSubmit()"
          >
            Verify
          </button>
        </div>
      </form>

      <div class="resend-container padded-top">
        <button
          mat-button
          color="accent"
          [disabled]="resendDisabled"
          (click)="onSendNewCode()"
        >
          Send New Code
          <span *ngIf="resendDisabled"
            >in {{ countdown }}
            {{ countdown == 1 ? "second" : "seconds" }}</span
          >
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
