<div
  *ngIf="loggedIn == false"
  class="alert alert-warning padded-top padded-bottom"
>
  You are NOT logged in.
  <a routerLink="/account/login">Log in</a>
</div>

<div *ngIf="loggedIn">
  <div class="alert alert-success padded-top padded-bottom" *ngIf="appUser">
    You are logged in as {{ appUser.username }}.
    <a routerLink="/account/logout">Log out</a>
  </div>

  <mat-card>
    <mat-card-content>
      <app-card-menu [menuItems]="menuItems"></app-card-menu>
    </mat-card-content>
  </mat-card>
</div>

<mat-card class="padded-top">
  <mat-card-header>
    <mat-card-title>Test Area</mat-card-title>
    <mat-card-subtitle
      >Use the button below to test the secured endpoint.</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content> </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="testSecureEndpoint()">
      Test Secure Resource
    </button>
  </mat-card-actions>
</mat-card>
