<div class="users">
  <form #searchForm="ngForm">
    <mat-card>
      <mat-card-header class="nice-header">
        <mat-card-title>Users</mat-card-title>
        <mat-card-subtitle>
          <i class="fa fa-filter"></i>
          Use the filters below to narrow the search results.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-user-search-options
          [searchOptions]="searchOptions"
        ></app-user-search-options>
      </mat-card-content>
      <mat-card-actions
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            (click)="onSearch()"
          >
            <i class="fa fa-search"></i>
            Search
          </button>
          <button mat-raised-button type="button" (click)="onReset()">
            Reset
          </button>
        </div>
        <button
          mat-raised-button
          type="button"
          (click)="onAdd()"
          class="btn-add"
          style="position: relative; top: -10px; right: 0"
        >
          <i class="fa fa-plus-circle"></i>
          Add User
        </button>
      </mat-card-actions>
    </mat-card>
  </form>

  <mat-card class="padded-top">
    <mat-card-header>
      <mat-card-title class="secondary">Search Results</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-spinner *ngIf="loading"></mat-spinner>
      <div *ngIf="results" [hidden]="loading">
        <div *ngIf="results.totalCount > 0">
          <app-user-list
            [users]="results.results"
            [sortDirection]="searchOptions.sortDirection"
            [sortField]="searchOptions.sortField"
            (edit)="onEdit($event)"
            (remove)="onRemove($event)"
            (sort)="onSort($event)"
            (resetPassword)="onResetPassword($event)"
            (revokeSessions)="onRevokeSessions($event)"
          ></app-user-list>

          <mat-paginator
            [length]="results.totalCount"
            [pageSize]="pageSize"
            [pageSizeOptions]="[10, 25, 50, 100]"
            (page)="onPageEvent($event)"
          >
          </mat-paginator>
        </div>

        <p *ngIf="results.totalCount == 0">No results were found.</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<button class="padded-top" mat-raised-button routerLink="/auth-admin">
  <i class="fa fa-shield"></i>
  Return to Admin Home
</button>

<button
  class="padded-top"
  color="warn"
  mat-raised-button
  (click)="onLogOutAll()"
>
  <i class="fa fa-sign-out"></i>
  Log Out ALL Users
</button>
